@{
    ViewBag.Title = "Home Page!";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h2> @ViewBag.Title</h2>
    <p>Hello World!</p>
    <p>MVC Page!</p>

    <script src="~/js/index.js"></script>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
</body>
</html>

